.border{
    border: 1px solid black;
}

.main-container{
    display: flex;
    padding: 30px;
}

.video-container{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.image{
    border: 1px solid rgb(125, 168, 220);
    width: 300px;
    height: 200px;
    margin: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(13, 90, 197);
    font-size: 20px;
    font-weight: bold;
}



.image:hover{
    border: none;
    box-shadow: 0 0 10px 1px rgb(91, 151, 223);
}


.icon-container{
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 45px;
    margin: 0px 30px;
}

.icon:hover{
    box-shadow: 0 0 10px 1px rgb(84, 86, 89);
    border-radius: 80px;
}

.name-container{
    width: 400px;
}

input{
    padding: 10px;
    margin: 10px;
    width: 350px;
    border: none;
    box-shadow: 0 0 2px 1px rgb(93, 151, 216);
    border-radius: 2px;
}

input:hover{
    box-shadow: 0 0 5px 1px rgb(95, 141, 206);
}

.name{
    border: 1px solid rgb(13, 90, 197);;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 369px;
    height: 20px;
    color: rgb(15, 67, 140);
}
